/* Transitions hover bouton (bg bleu, font aliceblue) */
/* Faire le logo Eneffet et favicon (comme indeed un peu eclaté simpliste coome ça) */
/* Inscription/Connection avec form publication CV (champs BDD) */
/* Lors inscription: Chercheur d'emploi OU employeur */
/* Si employeur, possibilité de voir ses offres d'emplois, les modifier, le nbr de clics, les conversations */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nanum+Myeongjo&display=swap');

.form-message {
    color: rgb(209, 1, 1);
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navList {
    z-index: 22;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 5px 10px;

    /* position: absolute; */
    position: fixed;
    right:0;
    top:0;
    margin-top:33px;
    color:aliceblue;
}
.navLink {
    display:inline;
    padding: 8px 25px;
    margin: 0px 0px;
    font-family: 'Dosis', sans-serif;

    border-top: 1px solid rgba(240, 248, 255, 0.1);
}
.navActive {
    border-top: 1px solid rgba(240, 248, 255, 0.5);
}

.saveCv {
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 15px;
    cursor: pointer;
}

#titlePage {
    margin-top: 110px;

}

.titleBg {
    position: relative;
    z-index: 10;
    color: #ebf6ff;
    background-image: url(images/5559852.jpg);
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 65px;
    font-family: 'Dosis', sans-serif;

    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */

    background-position: right;
    animation: titleBgSlide 1.5s 0s forwards ease;

    margin-block-end: 0em;
}
@keyframes titleBgSlide {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}




.navButton {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    transition: all 0.4s;
}
.navButton:hover {
    background-color: aliceblue;
    color:rgb(68, 3, 189);
}
#decoButton {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    transition: all 0.4s;
}
#decoButton:hover {
    /* background-color: aliceblue;
    color:rgb(189, 3, 105); */
    background-color: rgb(189, 3, 105);
    color:aliceblue;
}

.deleteExperienceOrTraining {
    color: rgba(189, 3, 105, 0.6);
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 30%;

    transition: all 0.3s;
}
.deleteExperienceOrTraining:hover {
    color: rgba(189, 3, 105, 1);
    font-size: 2.8em;


}

.fa-pencil {
    content: "\f040";
    font-size: 1.4em !important;
    color: rgba(68, 3, 189, 0.6);
    position: absolute;
    right: 30%;
    margin: 11px 0px;

    transition: all 0.3s;
}

.fa-pencil:hover {
    color: rgba(68, 3, 189, 1);
    font-size: 1.6em !important;
}


#main{
    /* Désactivé car plus besoin? */
    /* margin-top: 80px; */

    /* homepage pas concernée car <img> et wrapper (pour gerer l'opacity) */
    /* background: linear-gradient(129deg, rgba(172,250,255,0.6161827279740021) 0%, rgba(47,71,255,0.6722051369375875) 100%); */
} 

.inputButton {
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 15px;
    cursor: pointer;
}

.job {
    position:relative; 
    border:2px solid rgba(68, 3, 189, 0.7); 
    border-radius: 3px; 
    /* padding:10px 20px;  */
    width:30%; 
    margin: 25px auto;

    transition: all 0.3s;
}
.job:hover {
    background-color: rgba(3, 183, 189, 0.1);
    border:2px solid rgba(3, 136, 189, 0.9); 
}

#jobDetail {
    border: 2px solid rgb(68, 3, 189);
    border-radius: 6px;

    width: 35%;
    margin: 25px auto;
}
#jobDetailTitle {
    color: aliceblue;
    background-color: rgb(68, 3, 189);
    margin-block-start: 0em;
    padding: 17px 0;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#connexionButton {
    background-color: #9ec3ec;
    transition: all 0.5s;
    font-weight: bold;
}
#connexionButton:hover {
    background-color: rgb(68, 3, 189);
}
#subscribeButton {
    background-color: #9ec3ec;
    transition: all 0.5s;
}
#subscribeButton:hover {
    background-color: rgb(68, 3, 189);
}

#cvPhoto {
    width: 65%;
    /* height: 35%; */
    border: 2px solid rgba(68, 3, 189, 0.4);
    border-radius: 8px;
    opacity: 1;

    transition: all 0.3s;

    /* right:5%;
    top: 10%; */

    /* padding: 5px; */

}
#cvPhotoGrid {
    grid-area: photo;
    margin: auto;
    /* top: 10%;
    position: relative; */
}
#cvPhoto:hover {
    /* opacity: 0.9 !important; */
    border: 2px solid rgba(68, 3, 189, 1);
    cursor: pointer;

    background-color: rgba(68, 3, 189, 0.3);
}

#gridCvPhotoContainer {
    
    display: grid; 
    grid-template-columns: 1.3fr 0.7fr; 
    grid-template-rows: 1fr; 
    /* gap: 0px 54px;  */
    grid-template-areas: 
      "cv photo"; 
    
}
.grisedButton::after {
    content: "Content injected by the ::before pseudo-element.";
    display: block;
    margin-bottom: 1em;
    z-index: 99;
}

#cvFormGrid {
    grid-area: cv;
    position: relative;
    border-right: 1px solid rgba(68, 3, 189, 0.2);
    padding-top: 3%;
}

#cvGraph {
    position: absolute;
    top: 28px;
    left: -188px;
    width: 300px;
    height: 84px;
    background-color: rgba(0, 82, 218, 0.7);
    z-index: 1;
    transform: rotate(134deg);
    opacity: 0;

    animation: fadeInSlideGraph 0.7s 1s forwards ease-out;
}

@keyframes fadeInSlideGraph {
    from {
        opacity: 0;
        top:0;
        left: -300px;
    }
    to {
        opacity: 1;
        top: 28px;
        left: -188px;    
    }
}


select[disabled] {
    color: rgb(68, 3, 189);
    opacity: 0.7;
    background: linear-gradient(90deg, rgba(239,239,239,0.3) 0%, rgb(196, 230, 250) 100%);
}

#changePhotoButton {
    background-color: #b6d2f1;
}
#changePhotoButton:hover {
    background-color: rgb(68, 3, 189);
}

.addExpPlus {
    font-size: 7em;
    margin: 0;
}
.addExpTxt {
    margin-top: 0;
    font-size: 1.2em;
}

.addTrainingPlus {
    font-size: 7em;
    margin: 0;
    /* color: rgb(3, 189, 118); */
}
.addTrainingTxt {
    margin-top: 0;
    font-size: 1.2em;
    /* color: rgb(3, 189, 118); */
}

#addTrainingDiv {
    opacity: 1;
}

.fadeIn {
    animation: fadeIn 0.5s forwards ease;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#addExpButton {
    background-color: #deeeff;
    border-top: 5px solid rgb(68, 3, 189);
    border-bottom: 5px solid rgb(68, 3, 189);
    border-right: 1px solid rgb(68, 3, 189);
    border-left: 1px solid rgb(68, 3, 189);

    /* Pour eviter agrandissement bouton on hover */
    width: 180px;
}
#addExpButton:hover {
    background-color: rgb(68, 3, 189);
    /* font-size: 70%; */
    font-size: 102%;
}

#addTrainingButton {
    background-color: rgb(243 255 250 / 60%);
    border-top: 5px solid rgb(3, 189, 118);
    border-bottom: 5px solid rgb(3, 189, 118);
    border-right: 1px solid rgb(3, 189, 118);
    border-left: 1px solid rgb(3, 189, 118);
    color: rgb(0 159 98);

    /* Pour eviter agrandissement bouton on hover */
    width: 180px;

}
#addTrainingButton:hover {
    background-color: rgb(3, 189, 118);
    color: aliceblue !important;
    /* font-size: 70%; */
    font-size: 102%;
}

#username {
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #9fc0ee !important;
}
#password {
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #9fc0ee !important;
}

#connexionDiv {
    padding: 25px 10px;
    position: relative;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
    border-top: 2px solid rgba(68, 3, 189, 0.5);
    border-bottom: 2px solid rgba(68, 3, 189, 0.5);

    margin-bottom: 40px;
    margin-top: 40px;
}

.grisedButton {
    cursor: default;
    border-color: rgb(194, 194, 194) !important;
    color: rgb(194, 194, 194) !important;
    border-width: 1px;
    background-color: #f2f5f8 !important;

}
.grisedButton:hover {
    background-color: #f2f5f8 !important;
}


.experienceContent {
    overflow: hidden;
    max-height: 142px;

    /* Max 7 lignes: */
    line-height:20px; height:140px;

}

.trainingContent {
    overflow: hidden;
    max-height: 142px;

    /* Max 7 lignes: */
    line-height:20px; height:140px;
}

#experiencesWrapper {
    display: inline-flex;
    justify-content: center;
    width: 90%;
}
.experienceDiv {
    opacity: 0;

    border: 1px solid rgb(68, 3, 189);
    border-top:4px solid rgb(68, 3, 189);
    border-bottom:4px solid rgb(68, 3, 189);
    background-color: rgb(242 254 255 / 60%);
    border-radius: 3px;
    padding: 10px 20px;
    width: 20%;
    text-align: center;

    margin: 0 10px;
    cursor: pointer;

    transition: all 0.5s;
}
.experienceDiv:hover {
    background-color: #ccddfb;
}

.fadeInElemCv {
    animation: fadeInElemCv 0.5s 0s forwards ease-in;
}
@keyframes fadeInElemCv {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.trainingDiv {
    border: 1px solid rgb(3, 189, 118);
    border-top:4px solid rgb(3, 189, 118);
    border-bottom:4px solid rgb(3, 189, 118);
    background-color: rgb(236 255 248 / 60%);
    border-radius: 3px;
    padding: 10px 20px;
    width: 20%;
    text-align: center;

    margin: 0 10px;
    cursor: pointer;

    transition: all 0.5s;
}
.trainingDiv:hover {
    background-color: #b6f1da;
}


#trainingsWrapper {
    display: inline-flex;
    justify-content: center;

    width: 95%;
}


#returnArrowButton {
    position:absolute; 
    right:15px;
    width:50px; 
    margin: 15px 15px; 
    border:2px solid rgb(68, 3, 189); 
    border-radius:100px; 
    padding: 20px 0px 28px 0px;
    line-height:0px;
    font-size: 3em;
    font-weight: bold;
    color: rgb(68, 3, 189);
    position: absolute;
    cursor: pointer;

    transition: all 0.5s;
}
#returnArrowButton:hover {
    background-color: rgb(68, 3, 189);
    color: aliceblue;
}

.leftAlign {
    position: relative;
    text-align: left;
    margin-left: 25px;
}
.rightAlign {
    position: relative;
    text-align: right;
    margin-right: 25px;
}
.jobDetailData {
    color: rgb(68, 3, 189);
    font-weight: bold;
}

.jobDetailContent {
    margin: 25px 25px;
    font-weight: 100;
    text-align: justify;

    font-family: sans-serif;
}

button {
    border-radius: 3px;
    padding: 10px 20px;
    border: 2px solid rgb(68, 3, 189);
    color: rgb(68, 3, 189);
    font-weight: bold;
    margin: 20px 15px;

    transition: all 0.5s;
}

.button2 {
    border-radius: 3px;
    padding: 10px 20px;
    border: 2px solid rgb(68, 3, 189);
    color: rgb(68, 3, 189);
    font-weight: bold;
    margin: 20px 15px;

    transition: all 0.5s;
}

.buttonThin {
    /* font-weight: 100;  */
    border-width:1px;
}
button:hover {
    border: 2px solid rgb(68, 3, 189);
    cursor: pointer;
    background-color: rgb(68, 3, 189);
    color: aliceblue;
}

.alertButton {
    border: 2px solid rgb(189, 3, 74);
    color: rgb(189, 3, 74);
}
.alertButton:hover {
    border: 2px solid rgb(189, 3, 74);
    background-color: rgb(189, 3, 74);
    color: aliceblue;
}

.validateButton {
    border: 2px solid rgb(3, 189, 111);
    color: rgb(3, 189, 111);
}
.validateButton:hover {
    border: 2px solid rgb(3, 189, 111);
    background-color: rgb(3, 189, 111);
    color: aliceblue;
}


.inversedButton {
    border: 2px solid rgb(3, 189, 111);
    background-color: rgb(3, 189, 111);
    color: aliceblue;

    transition: all 0.3s;
}
.inversedButton:hover {
    border: 2px solid rgb(3, 189, 111);
    color: rgb(3, 189, 111);
    background-color: aliceblue;
}

.filters {
    color: rgb(68, 3, 189);
}

.inversedButton2 {
    border: 2px solid rgb(68, 3, 189);
    background-color: rgb(68, 3, 189);
    color: aliceblue;

    transition: all 0.3s;
}
.inversedButton2:hover {
    border: 2px solid rgb(68, 3, 189);
    color: rgb(68, 3, 189);
    background-color: #b6d2f1;
}

h1, h2, h3, h4, button, p {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

#connexionSeparator {
    background: -webkit-linear-gradient(left, #f2f5f8 0%, rgb(68, 3, 189) 50%, #f2f5f8 100%);
    height:2px;
    width:28%;
    opacity:0.5; 
    margin:auto;
}

/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */


.inputCv {
    outline: transparent;

    width: 55%;
    padding: 12px 15px;
    margin: 25px 0;
    display: inline-block;
    border: 2px solid rgba(68, 3, 189, 0.3);
    border-radius: 4px;
    box-sizing: border-box;

    color: rgb(68, 3, 189);
    opacity: 0.7;
    font-weight: bold;
}
.inputCv:focus {
    outline: 2px solid rgba(68, 3, 189, 0.7); 
}
.inputCvExp {
    outline: transparent;

    width: 35%;
    padding: 12px 15px;
    margin: 25px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border: 2px solid #0c3dad;
    border-radius: 4px;
    box-sizing: border-box;

    color: rgb(12 0 93);
    /* opacity: 0.7; */
    font-weight: bold;
}
.inputCvExp:focus {
    outline: 2px solid rgba(68, 3, 189, 0.7); 
}
.inputCvTraining {
    outline: transparent;

    width: 35%;
    padding: 12px 15px;
    margin: 25px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border: 2px solid #00a303;

    border-radius: 4px;
    box-sizing: border-box;

    color: rgb(0 55 34);
    /* opacity: 0.7; */
    font-weight: bold;
}
.inputCvTraining:focus {
    outline: 3px solid rgb(3, 212, 132); 
}
.labelCv {
    position: absolute;
    /* left: 33%; */
    margin-top: -0px; 
    opacity: 0.7;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.labelCvExp {
    position: absolute;
    left: 33%;
    margin-top: -0px; 
    opacity: 0.7;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.inputFilter {
    width: 15%;
    padding: 12px 15px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 4px;
    box-sizing: border-box;

    color: rgb(0, 4, 61);
    opacity: 0.7;
    font-weight: bold;
}

#cancelAddTraitButton {
    background-color: #798efd;
}
#cancelAddTraitButton:hover {
    background-color: rgb(189, 3, 74);
    color: aliceblue;
}


#titre {
    z-index: 20;
    position: fixed;
    top:0;

    width: 100%;
    padding: 15px 15px;
    background-color: rgb(68, 3, 189);
    color: aliceblue;

    text-align: left;


    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Nanum Myeongjo', serif;;

    margin-block-start: 0em;
    margin-block-end: 0em;

    transition: all 0.35s;
}
#titre a {
    padding: 10px 15px;
    transition: all 0.5s;
}
#titre a:hover {
    /* color: rgb(1, 253, 220); */
    letter-spacing: 2px;
}

h2 {
    font-family: 'Nanum Myeongjo', serif;
}



.fadeOut {
    animation: fadeOut 0.5s forwards ease-out, minimize 0.3s 0.5s forwards ease-out;
    opacity: 1;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes minimize {
    from {
        height: 185px;
    }
    to {
        height: 0px;
    }
}

.fadeOut2 {
    animation: fadeOut 0.5s forwards ease-out;
    opacity: 1;
}

.minimize {
    animation: minimize 0.3s forwards ease-out;
}




#closeCross {
    position:absolute; 
    top:15px; 
    right:15px;
    color:rgb(68, 3, 189);
    cursor: pointer;
    font-size: 3em;
    opacity: 0.7;
    line-height: 0;

    margin-block-start: 0em;
    margin-block-end: 0em;

    transition: all 0.3s;
}
#closeCross:hover {
    color: rgb(189, 3, 74);
    opacity: 1;
}

#pageTitle {
    margin-top: 35px;
}


.inputBgColorBlue {
    background-color: #9fc0ee;
}

#cvScrollContainer {
    /* overflow-y:scroll; 
    height:auto; */
    position: relative;
}

#jobsContainer {
    overflow-y:scroll; 
    height:600px;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#jobsContainer::-webkit-scrollbar {
    display: none; /* Chrome */
} 

/*  Empeche le scroll (car sinon <img> background couvre pas tout) */
/* html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
} */

body {
    scrollbar-color: blue;
    margin: 0;
    background-color: #f2f5f8;

    opacity: 0;
    animation: bodyFadeIn 0.3s forwards linear;
}
@keyframes bodyFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#date {
    /* font-style: italic;
    opacity: 0.6;
    font-size: 0.7em;

    position: absolute;
    top: 5px;
    right: 5px;
    margin-block-start: 0em; */

    font-style: italic;
    opacity: 0.6;
    font-size: 0.7em;

    position: relative;
    text-align: right;
    margin-block-start: 0em;

    right: 5px;
    top: 2px;
}


.jobPreviewTitle {
    margin-block-start: 0em;
    padding: 15px 0px;
    margin-block-end: 0em;
    background-color: rgba(68, 3, 189, 1);
    color: aliceblue;
    font-size: 1.15em;
}

.jobPreviewLine {
    text-align: left;
    left: 12px;
    position: relative;
    font-size: 0.9em;
}
.jobPreviewData {
    color: rgba(68, 3, 189, 1);
    font-size: 1.1em;
}


#test {
    position: absolute;
    text-align: right;
    right: 5px;
    cursor: pointer;
    color: yellow;
}
























.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  /* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  } */
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } */
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  #qualitiesTitle {
    font-size: 1.7em;
    font-weight: bold;
    color: #f8fffb;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
  #defaultsTitle {
    font-size: 1.7em;
    font-weight: bold;
    color: #fff6fa;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }





  /* 
  https://codepen.io/GhostRider/pen/oNvoNv
  
  
  .scrollbar
  {
      margin-left: 30px;
      float: left;
      height: 300px;
      width: 65px;
      background: #F5F5F5;
      overflow-y: scroll;
      margin-bottom: 25px;
  }

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
} */


#personalityFormButton {
    background-color: #b6d2f1;
}
#personalityFormButton:hover {
    background-color: rgb(68, 3, 189);
}


.skillsPersoGrid {  
    margin: 20px 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 0.4fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "skills personality"
      "addSkillDiv addPersonalityDiv";
  }
  
  .personality {  
    margin-top: 35px;
    margin-bottom: 10px;
    height: fit-content;

    /* background: rgb(0,255,203);
    background: -moz-linear-gradient(90deg, rgba(0,255,203,0) 20%, rgba(0,255,204,1) 50%, rgba(255,0,67,1) 50%, rgba(255,0,76,0) 80%);
    background: -webkit-linear-gradient(90deg, rgba(0,255,203,0) 20%, rgba(0,255,204,1) 50%, rgba(255,0,67,1) 50%, rgba(255,0,76,0) 80%);
    background: linear-gradient(90deg, rgba(0,255,203,0) 20%, rgba(0,255,204,1) 50%, rgba(255,0,67,1) 50%, rgba(255,0,76,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffcb",endColorstr="#ff004c",GradientType=1); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "qualities defaults";
    grid-area: personality;
  }
  
  .qualities { 
    grid-area: qualities; 
    padding: 0px 20px;
    /* border-right: 2px solid rgba(50, 205, 50, 0.6); */
    /* border-bottom-right-radius: 15px; */
    padding-bottom: 20px;

    /* background: rgb(0,255,203);
    background: -moz-linear-gradient(270deg, rgba(0,255,203,0.2) 0%, rgba(255,255,255,0) 80%);
    background: -webkit-linear-gradient(270deg, rgba(0,255,203,0.2) 0%, rgba(255,255,255,0) 80%);
    background: linear-gradient(270deg, rgba(0,255,203,0.2) 0%, rgba(255,255,255,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffcb",endColorstr="#ffffff",GradientType=1); */
  

    background: rgba(0,255,203,0.3);
    background: -moz-linear-gradient(180deg, rgba(0,255,203,0.3) 20%, rgba(0,255,203,0) 50%);
    background: -webkit-linear-gradient(180deg, rgba(0,255,203,0.3) 20%, rgba(0,255,203,0) 50%);
    background: linear-gradient(180deg, rgba(0,255,203,0.3) 20%, rgba(0,255,203,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffcb",endColorstr="#00ffcb",GradientType=1);
    
    margin-right: 6px;
    border-top: 5px solid rgb(0 191 92);
    /* box-shadow: 2px -1px 3px rgba(0, 128, 0, 0.6); */
    height: fit-content;
    }
  
  .defaults { 
    grid-area: defaults; 
    padding: 0px 20px;
    /* border-left: 1px solid rgba(189, 3, 105, 0.4); */
    /* border-bottom-left-radius: 15px; */
    padding-bottom: 20px;

    /* background: -moz-linear-gradient(90deg, rgba(255,0,97,0.05) 0%, rgba(255,255,255,0) 80%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,97,0.05) 0%, rgba(255,255,255,0) 80%);
    background: linear-gradient(90deg, rgba(255,0,97,0.05) 0%, rgba(255,255,255,0) 80%); */

    background: rgba(255,0,97,0.2);
    background: -moz-linear-gradient(180deg, rgba(255,0,97,0.2) 20%, rgba(255,0,76,0) 50%);
    background: -webkit-linear-gradient(180deg, rgba(255,0,97,0.2) 20%, rgba(255,0,76,0) 50%);
    background: linear-gradient(180deg, rgba(255,0,97,0.2) 20%, rgba(255,0,76,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0061",endColorstr="#ff004c",GradientType=1);

    border-top: 5px solid rgb(173, 2, 82);
    /* box-shadow: -2px -1px 3px rgba(255, 0, 0, 0.5); */
    height: fit-content;
    }

  #inputTraitType {
    cursor: pointer;

    outline: rgba(0, 0, 0, 0);
  }
  
  .skills {  
    /* Display grid désactivé car ça permet pas le vertical flex j'ai l'impression */
    /* display: grid;  */
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
    grid-area: skills; 
  }

  .langLine {
    margin: 30px auto;
    width: 50%;
    position: relative;

    margin: 30px auto;
    width: 50%;
    position: relative;
    background-color: #7721ff;
    color: aliceblue;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 22px;
    padding: 12px;
    /* margin-bottom: 8px; */
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.6);
  }
  .skillLine {
    margin: 30px auto;
    width: 50%;
    position: relative;

    margin: 30px auto;
    width: 50%;
    position: relative;
    background-color: #00ffc4;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 22px;
    padding: 12px;
    /* margin-bottom: 8px; */
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.6);
  }

  .skillWord {
    position: relative;
    float: left;
  }
  .skillWord2 {
    left: 10px;
    position: relative;
  }
  .skillLevel {
    position: relative;
    float: right;

    color: gold;
    font-size: 1.4em;
    position: relative;
    bottom: 6px;
    text-shadow: 0 0 black;
  }

  .deleteSkillCross {
    position: relative;
    color: rgb(128 128 128 / 50%);

    transition: all 0.3s;
  }
  .deleteSkillCross:hover {
    color: rgb(221, 0, 0);
    /* font-size: 110%; */
  }
  .deleteLangCross {
    position: relative;
    color: rgb(255 255 255 / 50%);

    transition: all 0.3s;
  }
  .deleteLangCross:hover {
    color: rgb(221, 0, 0);
  }

  .langWord {
    position: relative;
    float: left;
  }
  .langWord2 {
    left: 10px;
    position: relative;
  }
  .langLevel {
    position: relative;
    float: right;

    color: gold;
    color: gold;
    font-size: 1.4em;
    position: relative;
    bottom: 6px;
    text-shadow: 0 0 black;
  }

  #langsTitle {
    font-size: 1.7em;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 1px 1px rgb(0 0 0 / 50%);
  }
  #skillsTitle {
    font-size: 1.7em;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 1px 1px rgb(0 0 0 / 50%);
  }


  #separatorSkill {
    position:absolute; 
    height:2px; 
    width:100%; 
    /* background-color:rgb(0, 104, 229);  */
    background: -webkit-linear-gradient(left, rgba(90,90,90,0) 25%, rgba(0, 104, 229, 0.6) 50%, rgba(90,90,90,0) 75%);
    bottom:-15px;
  }
  /* .skillsTitle {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
    grid-area: skillsTitle; 
  }
  .skillsLvl {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
    grid-area: skillsLvl; 
  } */
  
  .skillsTitle { grid-area: skillsTitle; }
  
  .skillsLvl { grid-area: skillsLvl; }
  
  .addSkillDiv { grid-area: addSkillDiv; }
  
  .addPersonalityDiv { grid-area: addPersonalityDiv; }


  #skillWord {
    width: 35%;
  }

  .select_box {
    overflow: hidden;
    position: relative;
  }
  .select_box select {
    position: relative;
    z-index: 95;
  }
  .select_box:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #25de69;
    position: absolute;
    top: 30%;
    right: 24px;
    content: "";
    z-index: 100;
  }




  .qualitiesList {
    max-height: 350px;
    min-height: 180px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .qualitiesList::-webkit-scrollbar {
    display: none;
  }
  .qualityDiv {
    border-radius: 5px;
    background-color: rgb(3, 189, 118);
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: white;
    padding: 5px 10px;

    max-width: 50%;
    margin: 5px auto;

    /* delete en absolute: */
    position: relative;
    display: inline-flex;
  }
  .qualityKeyword {
    text-align: left;
    margin-right: 18px;
    margin-left: 5px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  
  .defaultsList {
    max-height: 350px;
    min-height: 180px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .defaultsList::-webkit-scrollbar {
    display: none;
  }
  .defaultDiv {
    border-radius: 5px;
    background-color: rgb(173, 2, 82);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 5px 10px;

    max-width: 50%;
    margin: 5px auto;

    /* delete en absolute: */
    position: relative;
    display: inline-flex;
  }
  .defaultKeyword {
    text-align: left;
    margin-right: 18px;
    margin-left: 5px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .deleteTraitCross {
    position: relative;
    text-align: right;
    top: 2px;
    margin: auto;
    font-size: 1.7em;
    font-weight: bold;
    opacity: 0.3;
    transition: all 0.3s;
  }
  .deleteTraitCross:hover {
    opacity: 1;
  }


  .inputTraitKeyword {
    outline: rgba(0, 0, 0, 0);

    padding: 5px 10px;
    border: 2px solid rgb(68, 3, 189);
    border-radius: 5px;
    background-color: #8097fe;
    color: white;
    font-family: 'Dosis';
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.1em;
  }
  .inputTraitType {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #37e137;
    background-color: #8097fe;
    margin-right: 20px;
    color: aliceblue;
    font-family: 'Dosis';
    font-weight: 900;
    letter-spacing: 1px;
    color: #37e137;
    font-size: 1.1em;
  }
  .labelTraitKeyword {
    font-family: 'Dosis', sans-serif;

  }

  /*  Systeme de var pour switcher entre les 2 */
  .inputTraitKeyword::placeholder {
    color: rgba(68, 3, 189, 0.7);
    font-style: italic;
  }

  .inputSkillKeyword {
    outline: rgba(0, 0, 0, 0);

    padding: 5px 10px;
    border: 2px solid rgb(68, 3, 189);
    border-radius: 5px;
    background-color: #8097fe;
    color: white;
    font-family: 'Dosis';
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.1em;
  }
  .inputSkillKeyword::placeholder {
    color: rgba(68, 3, 189, 0.6);
    font-style: italic;
  }

  .inputSkillType {
    cursor: pointer;
    outline: rgba(0, 0, 0, 0);

    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgb(68, 3, 189);
    background-color: #8097fe;
    margin-right: 20px;
    color: aliceblue;
    font-family: 'Dosis';
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(68, 3, 189);
    font-size: 1.1em;
  }




















/* Resoudre pb: js
    document.querySelectorAll(".fadeInSlide").forEach((elem) => {
        setTimeout(function() {
            elem.classList.add("animCvSlideFadeIn");
        }, 1000);
    }) 
*/

/* .fadeInSlide {
    opacity: 0;
    position: relative;
    right: 80%;
}
.animCvSlideFadeIn {
    animation: fadeSlide 0.7s 0.5s forwards ease;
}
@keyframes fadeSlide {
    from {
        opacity: 0;
        right: 80%;
    }
    to {
        opacity: 1;
        right: 0%;
    }
} */



@keyframes fadeSlide {
    from {
        opacity: 0;
        right: 80%;
    }
    to {
        opacity: 1;
        right: 0%;
    }
}
  #firstNameDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.8s 0.1s forwards ease-out;
  }
  #lastNameDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 0.25s forwards ease-out;
  }
  #telDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 0.4s forwards ease-out;
  }
  #emaiDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 0.55s forwards ease-out;
  }
  #drivingLicenceDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 0.7s forwards ease-out;
  }
  #ageDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 0.85s forwards ease-out;
  }
  #addressDiv {
    opacity: 0;
    position: relative;
    right: 80%;
    
    animation: fadeSlide 0.5s 1s forwards ease-out;
  }

  #cvPhoto {
    opacity: 0;
    animation: fadeIn 0.65s 0.25s forwards ease-out;
  }
  #changePhotoButton {
    opacity: 0;
    animation: fadeIn 0.65s 0.25s forwards ease-out;
  }





  .rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;

    top: 13px;
    margin-left: 15px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
    
    transition: all 0.3s;
  }
  
  .rating label:last-child .icon {
    color: rgb(224 224 224 / 60%);
    /* text-shadow: 0 0 3px rgb(0, 0, 0); */
    border-radius: 5px;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: gold;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px gold;
  }


  .inputCv::placeholder{
    font-style: italic;
    opacity: 0.8;
  }


  .shakeInput {
    animation: animMiseMaxProcShake 0.35s 1 ease, animMiseMaxProcColor 0.35s ease-in-out forwards !important;
  }
  @keyframes animMiseMaxProcShake {
    0% { transform: translate(2px, 0px); }
    10% { transform: translate(-2px, -0px); }
    20% { transform: translate(-6px, 0px); }
    30% { transform: translate(6px, 0px); }
    40% { transform: translate(2px, -0px); }
    50% { transform: translate(-2px, 0px); }
    60% { transform: translate(-6px, 0px); }
    70% { transform: translate(6px, 0px); }
    80% { transform: translate(-2px, -0px); }
    90% { transform: translate(2px, 0px); }
    100% { transform: translate(2px, -0px); }
  }
  @keyframes animMiseMaxProcColor {
    0% {
      /* border-color: rgba(239, 59, 46, 1); */
      /* text-shadow: 0px 0px 10px #00e7fe; */
      /* font-size: 2.1em; */
    }
    50% {
      border-color: rgba(253, 0, 0, 0.7);
      /* text-shadow: 0px 0px #00e7fe; */
      /* font-size: 1.5em; */
    }
    100% {
      border-color: rgba(68, 3, 189, 0.3);
    }
  }


  .shakeEditButton {
    animation: animMiseMaxProcShake 0.35s 1 ease !important;
  }













  /* https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
  @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
  @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
  @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }



  @media screen and (max-width:801px) and (min-width:100px) {
    #gridCvPhotoContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 1.3fr;
      /* grid-template-areas: "cv photo"; */
      grid-template-areas: 
      "photo"
      "cv";
    }

    #cvGraph {
      display: none;
    }

    #cvPhotoGrid {
      margin: 5em auto 0 auto;
    }

    #titre {
      font-size: 3.5em;
      padding: 27px 25px;
    }

    .titleBg {
      margin-top: 119px;
    }

    #navList {
      font-size: 2em;
      margin-top: 46px;
    }
    .navLink {
      padding: 8px 25px 27px 25px;
    }

    .labelCv {
      font-size: 2.2em;
      margin-top: -23px;
    }
    .inputCv {
      font-size: 2.2em;
      margin: 35px 0;
    }

  }







